@font-face {
    font-family: Trajan;
    src: url(resources/TrajanPro-Regular.ttf);
}

body {
    min-width: 300px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ede6d2;
    margin: 0;
}
table {
    border:solid black 1px;
    border-radius:6px;
}

#schedule{
    width: calc(100% - 12px);
    margin: 6px;
}

#events, #house, #calendar, #apps {
    border-spacing: 0;
    width: 100%;
    border-radius:0 !important;
    border:0;
    margin: 0px;
}

#apps>tbody>tr>td {
  border: none;
}

table, tr, td {
    border: 1px solid white;
    padding: 5px;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#bar, #bar>tbody>tr, #bar>tbody>tr>td, #bar2, #bar2>tbody>tr, #bar2>tbody>tr>td {
    background-color: initial;
    border: 0;
    padding: 0px 3px 0px 3px;

}

#bar, #bar2 {
    width: 100%;
}

.centered {
    text-align: center;
}

.header {
    font-family: Trajan;
    color: #a4793c;
}

.white-text {
    color: #ffffff;
}

hr {
    border: 2px dashed #a4793c;
    border-radius: 10px;
}
.footer {
    margin: 0;
    padding-top: 0;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 5px;
    background-color: #800400;
}

.footer h3 {
    margin: 0;
    padding-top: 3px;
    padding-left: 3px;
    font-size: 18px;
}

button {
    background-color:#a39261;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    border-radius: 3px;

}

button:hover {
    background-color: #c6b277;
}
button:focus {
    outline: none;
}

.tab {
    background-color:#AB2C29;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border:none;
}
.tab:hover {
    background-color:#802220;
    color: #e3e3e3;
}
.enabled {
    background-color:#802220;
    color: #e3e3e3;
}
.view {
    display:none;
}
.visible {
    display:block !important;
}
.acas>td{
    background-color: #edce00;
    color: white;
}
.mass>td{
    background-color: #9d29e6;
    color: white;
}
.ltsrt>td {
    background-color: #c93126;
    color: white;
}
