:root {
    --stmc-red: #AB2C29;
}
html {
    background: linear-gradient(90deg, #AB2C29 0%, rgb(194, 0, 0) 100%);
}
.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    min-height:60px;
}
.uk-card-default {
    border-radius: 15px;
}
.white {
    color:white !important;
}

.black {
    color:black;
}

.red-gd {
    background: linear-gradient(325.83deg, #C71F3C 0%, rgb(222, 33, 33) 100%) !important;
}

.white-gd {
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(225, 225, 225) 100%);
}
.warn-gd {
    background: linear-gradient(90deg, rgb(255, 153, 0) 0%, rgb(221, 181, 0) 100%);

}
.black-gd {
    background: linear-gradient(44.83deg, rgb(46, 43, 43) 0%, rgb(100, 100, 100) 100%);
}
.uk-active {
    margin-left: 10px;
}
#menu-button:hover{
    color:rgb(207, 207, 207)
}
.rounded {
    border-radius:10px;
}
.res-img {
    
    width:50px;
    height:50px;
}
figure:hover{
    filter: grayscale(100%);
}

figure {
    transition-duration: 0.5s;  
}